<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="engine" class="com.bridgelabz.Engine" />
    <bean id="car1" class="com.bridgelabz.Car">
        <!--       <constructor-arg ref="engine"/>-->
        <property name="model" value="Tesla" />
        <property name="engine" ref="engine" />
    </bean>
    <bean id="car2" class="com.bridgelabz.Car">
        <!--       <constructor-arg ref="engine"/>-->
        <property name="model" value="bmw" />
        <property name="engine" ref="engine" />
    </bean>
    <bean id="car3" class="com.bridgelabz.Car">
        <!--       <constructor-arg ref="engine"/>-->
        <property name="model" value="audi" />
        <property name="engine" ref="engine" />
    </bean>

    <bean id="garage" class="com.bridgelabz.Garage">
        <property name="cars">
            <list>
                <ref bean="car1"/>
                <ref bean="car2"/>
                <ref bean="car3"/>
            </list>
        </property>
    </bean>


</beans>




















